body {
    margin: 0px;
    background-color: black;
    overflow-x: hidden;
}

main {
    background-color: lightgrey;
    padding: 16px;
}

h1 {
    font-size: 55px;
    text-align: center;
} 

h2 {
    font-size: 32px;
    text-align: center;
} 

h3 {
    font-size: 26px;
    text-align: center;
} 

p {
    font-size: 18px;
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 24px;
}

.navbar a:hover {
    background-color: rgb(68, 64, 64);
}

footer {
    background-color: rgb(36, 36, 36);
}

.footerContainer {
    width: 100%;
    padding-top: 30px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 90%;
}

.socialIcons a:hover {
    background-color: #5b5b5b;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.bottomHeader {
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    background-color: white;
    color: black;
    z-index: 1;
    opacity: 70%;
}

.bottomHeader:hover {
    opacity: 0%;
}

.relevantClassesGrid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.relevantClasses {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(191, 191, 191);
}

.schoolsGrid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.schools {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(191, 191, 191);
}