h1 {
    font-size: 55px;
    text-align: center;
} 
h2 {
    font-size: 32px;
    text-align: center;
} 
h3 {
    font-size: 26px;
    text-align: center;
} 
p {
    border-radius: 25px;
    padding: 20px;
    background-color: lightgray;
    font-size: 18px;
    text-align: center;

}
div.pageButtons {
    font-size: 24px;
    color: white;
    text-align: center;
}
div.relevantClasses {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-start: 10%;
    grid-column-end: right;
}